.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
    background-color: hsl(0, 0%, 98%);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.title {
    color: black;
    margin-left: 0px;
    padding-left: 0px;
    font-weight: 900;
}


.dark-mode {
    margin-right: 10px;
    margin-right: 0px;
    padding-right: 0px;
    font-weight: 600;
    display: flex;
    justify-content: center;
}

.img {
    background-image: url("../../public/icons/moon-light.png");
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 13px 0px;
    padding-right: 15px;
}